#header {
	position: fixed;
	height: 50px;
	width: 100%;
	border: solid 0px #000000;
	background-color:#000000; 
	font-weight:bold; 
	font-family:Arial; 
	font-size:120%;
	
}

#header-title {
	overflow: hidden;
	font-size: 20px;
	font-family: tahoma;
	color: white;
	text-align: center;
	vertical-align: center
}

.ui-panel {
	width:18em;
	margin-top: 44px
}

.ui-dialog {
	background: #ffffff !important;
}

.text {
	border: solid 1px #000000
}
.ui-content{
	position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

#map {
	position: fixed; 
	height: 100%; 
	width: 100%;
	padding-right: 20px;
	margin-top: 50px;
	overflow: hidden
}