#iPED-Video {
	width: 100%;
	z-index: 1;
}

a {
	padding-bottom: 2px;
}

/*#canvas-div {
	position: absolute;
	top: 0px;
	float: left;
	height: auto;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}*/

#displays {
	z-index: 3;
	/*height: 477px;
	 width: 100%;*/
}


#map {
	height: 100%;
	width: 100%;
	position: absolute;
}